{% extends "layout.twig" %}

{% block title %} Usuario {% endblock %}

{% block main_container %}
    <div class="row">
        <div class="media col-xs-10">
            <div class="media-body">
                <h2>{{ user.surname }} , {{ user.name }}</h2>
                <p>{{ user.email }}</p>
                <p>{{ user.role }}</p>

                {% if isFriend %}
                <p>We're good. So good it hurts so bad.</p>
                {% else %}
                    <form class="form-horizontal" method="post" action="/friends/request/{{ user._id }}" >
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                <!--
                <a class="btn btn-primary pull-right" href="/friends/request/{{ user._id }}">Send Request</a>
                -->
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}