{% extends "layout.twig" %}
{% block title %} Users – Social Network (Admin) {% endblock %}
{% block main_container %}
    <h2>Users (Admin)</h2>
    <div class="table-responsive">
        <form action="/admin/delete" method="post">
        <table class="table table-hover" id="tableUsers">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}

            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                {% if user.role != "admin" %}
                    <td ><input type="checkbox" name="deleteBox" id="{{ user.name }}" value="{{ user._id }}"/></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button id="deleteBtn" type="submit">Delete users</button>
        </form>
    </div>
{% endblock %}